* {
  margin: 0; }

.wrapper {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  background: url(../img/bg6.jpg) no-repeat;
  background-size: cover;
  perspective: 1000; }
  .wrapper .res {
    position: absolute;
    font-size: 42px;
    color: #B8B8B8;
    text-transform: uppercase;
    right: 1%;
    bottom: 1%;
    cursor: pointer; }
  .wrapper .hide {
    display: none; }
  .wrapper .burg {
    cursor: pointer;
    float: left;
    margin: 4px;
    display: inline-block; }
    .wrapper .burg .bar1, .wrapper .burg .bar2, .wrapper .burg .bar3 {
      width: 20px;
      height: 2px;
      margin: 6px 0;
      background: #fff;
      transition: 0.4s; }
    .wrapper .burg .bar1.change {
      -webkit-transform: rotate(-45deg) translate(-5px, 5px);
      transform: rotate(-45deg) translate(-5px, 5px); }
    .wrapper .burg .bar2.change {
      opacity: 0; }
    .wrapper .burg .bar3.change {
      -webkit-transform: rotate(45deg) translate(-5px, -6px);
      transform: rotate(45deg) translate(-6px, -6px); }
  .wrapper .cards {
    transform: rotateY(180deg);
    perspective: 1000;
    display: flex;
    position: relative;
    top: calc(50% - 150px); }
  .wrapper .playerLength {
    position: absolute;
    right: 2%;
    top: 3%;
    float: right;
    display: flex; }
    .wrapper .playerLength .help {
      font-size: 25px;
      color: #fff;
      margin: 5px;
      margin-left: 20px;
      cursor: default;
      opacity: 0.3; }
  .wrapper .player {
    font-size: 25px;
    color: #fff;
    margin: 5px;
    justify-content: space-between;
    cursor: pointer; }
  .wrapper .player:hover {
    color: #5E68C9; }

.card {
  justify-content: space-between;
  position: relative;
  margin: auto;
  width: 180px;
  height: 260px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5%; }

.shirt {
  background: url(../img/shirt.jpg) no-repeat;
  background-size: cover; }

.c1 {
  background: url(../img/1.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c2 {
  background: url(../img/2.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c3 {
  background: url(../img/3.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c4 {
  background: url(../img/4.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c5 {
  background: url(../img/5.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c6 {
  background: url(../img/6.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c7 {
  background: url(../img/7.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c8 {
  background: url(../img/8.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c9 {
  background: url(../img/9.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c10 {
  background: url(../img/10.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c11 {
  background: url(../img/11.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c12 {
  background: url(../img/12.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.c13 {
  background: url(../img/13.jpg) no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  transition: 0.6s;
  transform-style: preserve-3d; }

.bgGroup {
  display: block;
  position: relative;
  bottom: 7%;
  left: 1%; }

.bg1 {
  background: url(../img/bg1.jpg) no-repeat;
  width: 100px;
  height: 50px;
  border: 1px solid #c3c3c3;
  background-size: cover;
  border-bottom: none; }

.bg2 {
  background: url(../img/bg2.jpg) no-repeat;
  width: 100px;
  height: 50px;
  border: 1px solid #c3c3c3;
  background-size: cover;
  border-bottom: none; }

.bg3 {
  background: url(../img/bg3.jpg) no-repeat;
  width: 100px;
  height: 50px;
  border: 1px solid #c3c3c3;
  background-size: cover;
  border-bottom: none; }

.bg4 {
  background: url(../img/bg4.jpg) no-repeat;
  width: 100px;
  height: 50px;
  border: 1px solid #c3c3c3;
  background-size: cover;
  border-bottom: none; }

.bg5 {
  background: url(../img/bg5.jpg) no-repeat;
  width: 100px;
  height: 50px;
  border: 1px solid #c3c3c3;
  background-size: cover;
  border-bottom: none; }

.bg6 {
  background: url(../img/bg6.jpg) no-repeat;
  width: 100px;
  height: 50px;
  border: 1px solid #c3c3c3;
  background-size: cover;
  border-bottom: none;
  border-bottom: 1px solid #c3c3c3; }

.bg {
  cursor: pointer; }

.bgBurg {
  cursor: pointer;
  display: block;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px; }
  .bgBurg .fa-angle-down {
    color: #fff;
    font-size: 50px;
    margin-left: 25px;
    background: #333333;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #c3c3c3; }
  .bgBurg .change {
    transform: rotate(-180deg); }

.bgMenu {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 100px; }

.helpBg {
  font-size: 25px;
  color: #fff;
  cursor: default;
  opacity: 0.3;
  display: block;
  width: 300px;
  position: absolute;
  top: 25px;
  left: 120px; }

.play {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  border: 1px solid #fff;
  padding: 5px;
  width: 70px;
  border-radius: 20%;
  background: blue;
  margin: 0 auto;
  position: absolute;
  top: 180px;
  left: 45%; }

.desc {
  font-size: 20px;
  color: #c3c3c3;
  display: block;
  position: relative;
  width: 500px;
  text-align: center;
  top: 250px;
  left: 24%; }
